<div class="text-center">
  <%= render 'shared/header' %>

  <div class="common-title">
    <p>人気のある選手</p>
  </div>
  <% if @qid == 3 %>
    <% @user_post_image_num = @user_post_image_num - 1500 %>
 <% elsif @qid == 4 %>
    <% @user_post_image_num = @user_post_image_num - 850 %>
 <% end %>
  <% if @player_counters && @player_counters.length > 0 %>
    <table class="table table-striped" style="font-size:12px;">
      <thead>
        <tr>
          <th>順位</th>
          <th>名前</th>
          <th>選択回数(選択率)</th>
        </tr>
      </thead>
      <tbody>
        <% @player_counters.each_with_index do |record, i| %>
        <tr>
          <th><%= i + 1 %></th>
          <% pid = record.pid %>
          <% tmp_player = @all_players[pid] %>
          <td style="text-align:left;"><%= tmp_player["short_name"] %></td>
          <td style="text-align:left;"><%= record.num %>(<%= BigDecimal((100.to_f * record.num / @user_post_image_num).to_s).floor(2) %>%)</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    まだデータがありません
  <% end %>

  <button type="button" class="btn btn-lg btn-success" onclick="location.href='javascript:history.back()'" style="margin-top: 5px;">戻る</button>

  <%= render 'shared/footer_relative' %>
</div>
