<%= render 'admin/shared/header' %>

<% @title = '選手タイプ編集' %>
<h1><%= @title %></h1>

<div id="generic-form">
  <%= form_for [ :admin, @type ] do |f| %>
    <%= render 'form', f: f %>
    <div class="buttons">
      <%= f.submit '更新' %>
      <%= link_to 'キャンセル', :admin_player_types %>
    </div>
  <% end %>
</div>
