<div class="text-center">
  <%= render 'shared/header' %>

  <div class="player-selection">
    <div class="row" style="margin-top:5px;">
      <div class="col-xs-5" style="padding-left:10px; padding-right:10px;">
        <% if (@before_player) then %>
          <div id="select-player-before" data-pid="<%= @bid %>" style="background-image:url('/images/players/<%= @bid %>.jpg');"><div class="selection-select-inner-player-name"><%= @before_player["full_name"] %></div></div>
        <% else %>
          <div id="select-player-before" data-pid="0" style="background-image:url('/images/players/0.jpg');"></div>
        <% end %>
      </div>
      <div class="col-xs-2" style="padding-left:10px; padding-right:10px;">
        <div id="arrow"></div>
      </div>
      <div class="col-xs-5" style="padding-left:10px; padding-right:10px;">
        <div id="select-player-after" data-pid="0" data-fid="<%= @fid %>"><div class="selection-select-inner-player-name"></div></div>
      </div>
    </div>

    <% @type_to_players.each do |key, value| %>
      <div style="margin-top:20px; margin-bottom:5px;">
        <form action="" method="post">
          <select name="aid" class="select-target">
            <option value="0" data-image-path="/images/players/0.jpg">選択してください</option>
            <% value.each do |player| %>
              <option value="<%= player[:id] %>" data-image-path="/images/players/<%= player[:id] %>.jpg"><%= player[:full_name] %></option>
            <% end %>
          </select>
        </form>
      </div>
<!-- 
      <div class="row" style="margin-top:20px;">
        <form action="" method="post">
          <div class="col-xs-6" style="text-align: right; padding-right: 2px;">
            <span style="font-weight: bold;"><%= @type_to_name[key.to_i] %>: </span>
          </div>
          <div class="col-xs-6" style="text-align: left; padding-left: 2px; font-size: 12px;">
            <select name="aid" class="select-target">
              <option value="0" data-image-path="/images/players/0.jpg">選択してください</option>
              <% value.each do |player| %>
                <option value="<%= player[:id] %>" data-image-path="/images/players/<%= player[:id] %>.jpg"><%= player[:full_name] %></option>
              <% end %>
            </select>
          </div>
        </form>
      </div>
-->
    <% end %>
  </div>

  <button type="button" id="select-done-btn" class="btn btn-lg btn-primary">決定</button>
  <button type="button" class="btn btn-lg btn-warning" onclick="location.href='/selection'">キャンセル</button>

  <%= render 'shared/footer' %>
</div>
