<div class="text-center">
  <div class="sk-header">
    <a href="http://www.soccer-king.jp/"><img height="44" src="/images/logo.png" alt="サッカーキング - 世界のサッカー情報サイト"></a>
  </div>

  <div class="row" style="margin-top:5px;">
    <div class="col-xs-5" style="padding-left:10px; padding-right:10px;">
      <% if (@before_player) then %>
        <div id="select-player-before" data-pid="<%= @bid %>" style="background-image:url('/images/players/<%= @bid %>.jpg');"></div>
      <% else %>
        <div id="select-player-before" data-pid="0" style="background-image:url('/images/players/0.jpg');"></div>
      <% end %>
    </div>
    <div class="col-xs-2" style="padding-left:10px; padding-right:10px;">
      <div id="arrow"></div>
    </div>
    <div class="col-xs-5" style="padding-left:10px; padding-right:10px;">
      <div id="select-player-after" data-pid="0" data-fid="<%= @fid %>"></div>
    </div>
  </div>

  <% @type_to_players.each do |key, value| %>
    <div class="row" style="margin-top:5px;">
      <form action="" method="post">
        <div class="col-xs-6" style="text-align: right;">
          <span><%= @type_to_name[key.to_i] %>: </span>
        </div>
        <div class="col-xs-6" style="text-align: left;">
          <select name="aid" class="select-target">
            <option value="0" data-image-path="/images/players/0.jpg">選択してください</option>
            <% value.each do |player| %>
              <option value="<%= player[:id] %>" data-image-path="/images/players/<%= player[:id] %>.jpg"><%= player[:full_name] %></option>
            <% end %>
          </select>
        </div>
      </form>
    </div>
  <% end %>

  <button type="button" id="select-done-btn" class="btn btn-lg btn-primary">決定</button>
  <button type="button" class="btn btn-lg btn-warning" onclick="location.href='/selection'">キャンセル</button>

  <div id="footer">Copyright 2010-2014 FromOne co.,Ltd All Rights Reserved.</div>
</div>
