<div class="text-center">
  <%= render 'shared/header' %>
  <div class="player-selection">
    <div class="row" style="margin-top:5px;">
      <div class="col-xs-5" style="padding-left:10px; padding-right:10px;">
        <% if (@before_player) then %>
          <div id="select-player-before" data-pid="<%= @bid %>" style="background-image:url('/images/players/<%= @bid %>.png');"><div class="selection-select-inner-player-name"><%= @before_player["short_name"] %></div></div>
        <% else %>
          <div id="select-player-before" data-pid="0" style="background-image:url('/images/players/0.jpg');"></div>
        <% end %>
      </div>
      <div class="col-xs-2" style="padding-left:10px; padding-right:10px;">
        <div id="arrow"></div>
      </div>
      <div class="col-xs-5" style="padding-left:10px; padding-right:10px;">
        <div id="select-player-after" data-pid="0" data-fid="<%= @fid %>"><div class="selection-select-inner-player-name"></div></div>
      </div>
    </div>

    <% @type_to_players.each do |key, value| %>
      <div style="margin-top:20px; margin-bottom:5px;">
        <form action="" method="post">
          <select name="aid" class="select-target">
            <option value="0" data-position="0" data-image-path="/images/players/0.jpg">選択してください</option>
            <% if @position[:type] > 1 %>
              <% value.each do |player| %>
                <% if (@position[:fw][:min] <= player[:id]) && (player[:id] <= @position[:fw][:max]) %>
                  <option value="<%= player[:id] %>" data-position="1" data-image-path="/images/players/<%= player[:id] %>.png"><%= player[:short_name] %></option>
                <% elsif (@position[:mf][:min] <= player[:id]) && (player[:id] <= @position[:mf][:max]) %>
                  <option value="<%= player[:id] %>" data-position="2" data-image-path="/images/players/<%= player[:id] %>.png"><%= player[:short_name] %></option>
                <% elsif (@position[:df][:min] <= player[:id]) && (player[:id] <= @position[:df][:max]) %>
                  <option value="<%= player[:id] %>" data-position="3" data-image-path="/images/players/<%= player[:id] %>.png"><%= player[:short_name] %></option>
                <% elsif (@position[:gk][:min] <= player[:id]) && (player[:id] <= @position[:gk][:max]) %>
                  <option value="<%= player[:id] %>" data-position="4" data-image-path="/images/players/<%= player[:id] %>.png"><%= player[:short_name] %></option>
                <% end %>
              <% end %>
            <% else %>
              <% value.each do |player| %>
                <option value="<%= player[:id] %>" data-position="0" data-image-path="/images/players/<%= player[:id] %>.png"><%= player[:short_name] %></option>
              <% end %>
            <% end %>
          </select>
        </form>
      </div>
    <% end %>

    <% if @position[:type] > 1 %>
      <button class="btn btn-sm btn-danger" id="position-all" style="width: 15%;">ALL</button>
      <button class="btn btn-sm btn-default" id="position-fw" style="width: 15%;">FW</button>
      <button class="btn btn-sm btn-default" id="position-mf" style="width: 15%;">MF</button>
      <button class="btn btn-sm btn-default" id="position-df" style="width: 15%;">DF</button>
      <button class="btn btn-sm btn-default" id="position-gk" style="width: 15%;">GK</button>
    <% end %>
    <div id="storage-all" style="display:none;"></div>
    <div id="storage-fw" style="display:none;"></div>
    <div id="storage-mf" style="display:none;"></div>
    <div id="storage-df" style="display:none;"></div>
    <div id="storage-gk" style="display:none;"></div>
  </div>

  <button type="button" id="select-done-btn" class="btn btn-lg btn-primary">決定</button>
  <button type="button" class="btn btn-lg btn-warning" onclick="location.href='/selection'">キャンセル</button>

  <% if @player_counters && @player_counters.length > 9 %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>人気順位</th>
          <th>名前</th>
          <th>選択回数</th>
        </tr>
      </thead>
      <tbody>
        <% [0,1,2,3,4,5,6,7,8,9].each do |num| %>
        <tr>
          <th><%= num + 1 %></th>
          <% pid = @player_counters[num].pid %>
          <% tmp_player = @all_players[pid] %>
          <td style="text-align:left;"><%= tmp_player["short_name"] %></td>
          <td style="text-align:left;"><%= @player_counters[num].num %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <%= render 'shared/footer_relative' %>
</div>
