<%= render 'admin/shared/header' %>

<ul>
  <li><%= link_to '選手一覧', [ :admin, :players ] %></li>
  <li><%= link_to 'フォーメーション一覧', [ :admin, :formations ] %></li>
  <li><%= link_to 'お題一覧', [ :admin, :questions ] %></li>
  <li><%= link_to '選手タイプ一覧', [ :admin, :player_types ] %></li>
  <li><%= link_to 'ユーザー投稿画像一覧', [ :admin, :user_post_images ] %></li>
  <li><%= link_to 'ユーザーお題リクエスト一覧', [ :admin, :user_question_requests ] %></li>
  <li><%= link_to 'メンテナンス情報', [ :admin, :maintenances ] %></li>
  <li><%= link_to 'ユーザーコメント一覧', [ :admin, :user_comments ] %></li>
</ul>
