<div class="text-center">
  <%= render 'shared/header' %>

  <div class="common-title">
    <p>募集中のイレブン</p>
  </div>

  <% if params["qtype"] && (params["qtype"].to_i > 1) %>
    <span class="common-tab"><a href="/question">サッカー</a> | その他</span>
    <div class="spacer-bottom"></div>
    <div class="question-btn">
    	<ul>
        <% @questions.each do |value| %>
          <% if [1,2,5,10,15].include?(value.id) %>
            <li><button type="button" class="btn btn-lg btn-primary question-each-btn" data-question-id="<%= value.id %>" data-question-title="<%= value.title %>"><%= value.title %></button></li>
            <li><div class="arrow_box"><span><%= value.description %></span></div></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% else %>
    <span class="common-tab">サッカー | <a href="/question?qtype=2">その他</a></span>
    <div class="spacer-bottom"></div>
    <div class="question-btn">
    	<ul>
        <% @questions.each do |value| %>
          <% if [3,4,6,7,8,9,11,12,13,14,16,17].include?(value.id) %>
            <li><button type="button" class="btn btn-lg btn-primary question-each-btn" data-question-id="<%= value.id %>" data-question-title="<%= value.title %>"><%= value.title %></button></li>
            <li><div class="arrow_box"><span><%= value.description %></span></div></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form method="POST" action="<%= question_send_request_path %>">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <textarea rows="4" id="user-question-request-comment" name="comment" placeholder="【お題募集中】出題してほしい○○イレブン等、リクエストしてください。"></textarea>
    <button type="submit" id="question-request-btn" class="btn btn-lg btn-warning">リクエスト送信</button>
  </form>

  <button type="button" class="btn btn-lg btn-success" onclick="location.href='<%= root_path %>'" style="margin-top: 5px;">トップページ</button>

  <%= render 'shared/footer_relative' %>
</div>
