<div class="text-center">
  <%= render 'shared/header' %>

  <div class="common-title">
    <p>お題を選択</p>
  </div>

  <div class="question-btn">
  	<ul>
      <% @questions.each do |value| %>
        <li><button type="button" class="btn btn-lg btn-success question-each-btn" data-question-id="<%= value.id %>" data-question-title="<%= value.title %>"><%= value.title %></button></li>
      <% end %>
    </ul>
  </div>

  <%= render 'shared/footer' %>
</div>
