<div class="text-center">
  <%= render 'shared/header' %>

  <div class="common-title">
    <p>募集中のイレブン</p>
  </div>

  <div class="question-btn">
  	<ul>
      <% @questions.each do |value| %>
        <li><button type="button" class="btn btn-lg btn-primary question-each-btn" data-question-id="<%= value.id %>" data-question-title="<%= value.title %>"><%= value.title %></button></li>
        <li><div class="arrow_box"><span><%= value.description %></span></div></li>
      <% end %>
    </ul>
  </div>

  <form method="POST" action="<%= question_send_request_path %>">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <textarea rows="4" id="user-question-request-comment" name="comment" placeholder="【お題募集中】出題してほしい○○イレブン等、リクエストしてください。"></textarea>
    <button type="submit" id="question-request-btn" class="btn btn-lg btn-warning">リクエスト送信</button>
  </form>

  <button type="button" class="btn btn-lg btn-success" onclick="location.href='<%= root_path %>'" style="margin-top: 5px;">トップページ</button>

  <%= render 'shared/footer_relative' %>
</div>
