<div>
  <%= f.label :id, 'id', class: 'required' %>
  <%= f.text_field :id, required: true %>
</div>
<div>
  <%= f.label :title, 'title', class: 'required' %>
  <%= f.text_field :title, required: true %>
</div>
<div>
  <%= f.label :description, 'description', class: 'required' %>
  <%= f.text_field :description, required: true %>
</div>
<div>
  <%= f.label :valid_player_type_ids, 'valid_player_type_ids', class: 'required' %>
  <%= f.text_field :valid_player_type_ids, required: true %>
</div>
