<div class="text-center">
  <%= render 'shared/header' %>

  <div class="question-title">
    <p>フォーメーション選択</p>
  </div>

  <div class="question-btn">
  	<ul>
      <% @formations.each do |formation| %>
        <li><button type="button" class="btn btn-lg btn-success formation-each-btn" data-formation-id="<%= formation.id %>" data-formation-type="<%= formation.css_title %>"><%= formation.title %></button></li>
      <% end %>
    </ul>
  </div>

  <%= render 'shared/footer' %>
</div>
