<div class="text-center">
  <%= render 'shared/header' %>

  <div class="common-title">
    <p>すげぇイレブンランキング</p>
  </div>

  <% if params["qtype"] && (params["qtype"].to_i > 1) %>
    <span class="common-tab"><a href="/user_post_images/rankings">サッカー</a> | その他</span>
    <div class="spacer-bottom"></div>
    <div class="question-btn">
      <ul>
        <% @questions.each do |value| %>
          <% if [1,2,5,10].include?(value.id) %>
            <li><button type="button" class="btn btn-lg btn-primary question-each-btn" data-question-id="<%= value.id %>" data-question-title="<%= value.title %>"><%= value.title %></button></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% else %>
    <span class="common-tab">サッカー | <a href="/user_post_images/rankings?qtype=2">その他</a></span>
    <div class="spacer-bottom"></div>
    <div class="question-btn">
      <ul>
        <% @questions.each do |value| %>
          <% if [3,4,6,7,8,9,11,12].include?(value.id) %>
            <li><button type="button" class="btn btn-lg btn-primary question-each-btn" data-question-id="<%= value.id %>" data-question-title="<%= value.title %>"><%= value.title %></button></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <button type="button" class="btn btn-lg btn-success" onclick="location.href='<%= root_path %>'">トップページ</button>

  <%= render 'shared/footer_relative' %>
</div>
