<div>
  <%= f.label :id, 'id', class: 'required' %>
  <%= f.text_field :id, required: true %>
</div>
<div>
  <%= f.label :type_name, 'type_name', class: 'required' %>
  <%= f.text_field :type_name, required: true %>
</div>
<div>
  <%= f.label :title, 'title', class: 'required' %>
  <%= f.text_field :title, required: true %>
</div>
<div>
  <%= f.label :css_title, 'css_title', class: 'required' %>
  <%= f.text_field :css_title, required: true %>
</div>
<div>
  <%= f.label :image_position, 'image_position', class: 'required' %>
  <%= f.text_field :image_position, required: true %>
</div>
<div>
  <%= f.label :text_position, 'text_position' %>
  <%= f.text_field :text_position %>
</div>
