<!DOCTYPE html>
<html>
<head>
  <title><%= document_title %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta name="keywords" content="ベストイレブン,サッカーフォーメーション">
  <meta name="description" content="この世にある、ありとあらゆるものの最強の11人(ときに人間ではなくモノも)を選ぼう!">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%= document_title %>" />
  <meta property="og:url" content="">
  <meta property="og:description" content="この世にある、ありとあらゆるものの最強の11人(ときに人間ではなくモノも)を選ぼう!">
  <meta property="og:locale" content="ja_JP" />
  <link rel="shortcut icon" href="http://www.soccer-king.jp/favicon.ico">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
