<!DOCTYPE html>
<html>
<head>
  <title>Be</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

  <div class="container">
    <%= yield %>
  </div>

  <div id="footer">Copyright 2010-2014 FromOne co.,Ltd All Rights Reserved.</div>
</body>
</html>
